<md-card class='container'>
    <md-card-content>
        <header contact="layout.resume.contact"></header>
        <div layout="row" >
            <div flex="50">
                <education education="layout.resume.education"></education>
                <experience experience="layout.resume.experience"></experience>
            </div>
            <div flex="50">
                <skills skills="layout.resume.skills"></skills>
            </div>
        </div>
    </md-card-content>
</md-card>

